.homePage {
     width:98vw;
     min-width: 360px;
     max-width: 1920px;
     height: auto;
     top:0px;
     bottom:0;
     left: 0;
     right: 0;
     position: relative;
     z-index: -100;
     padding-bottom:200px;
}

/****************************/
/**** Trending List Sound****/
/****************************/

.trendingList {
     padding-top:50px;
     color: rgba(31, 31, 31, 0.842);
     font-size:20px;
     margin:0 auto;
}

.titleCate {
     margin-left:100px;
}

.lineBt {
     width:70px;
     height: 2px;
     border-radius: 20px;
     background-color: rgba(31, 31, 31, 0.842);
     margin-top:10px;
     margin-left:2px;
}

.listSoundTrend {
     display:flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
}

.itemSound {
     width:500px;
     height:80px;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
     margin-top:40px;
     border-radius:20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right:30px;
     cursor: pointer;
}

.infoItem {
     display: flex;
     align-items: center;
}

.imageItem {
     width:60px;
     height:60px;
     margin-left:10px;
     border-radius: 20px;
     margin-right:20px;
}

.titleSoundTrend {
     font-size:17px;
     font-weight:500;
}

.titleAttributeSoundTrend {
     font-size:13px;
     font-weight:450;
}

.statisticalItem {
     display:flex;
     align-items: center;
}

.statisticalItem svg{
     width:15px;
     height:15px;
     margin-left:35px;
}

.statisticalItem span{
     font-size:13px;
     margin-left:35px;
     margin-top:5px;
     font-weight: 600;
}

.statisticalPlayedTrend, .statisticalLikedTrend {
     display: flex;
     flex-direction: column;
     align-items: center;
}



/****************************/
/****** New Sound List ******/
/****************************/

.newSoundList {
     padding-top:50px;
     color: rgba(31, 31, 31, 0.842);
     font-size:20px;
     margin:0 auto;
}

.listNewSound {
     width:70%;
     display:flex;
     align-items: center;
     flex-wrap:wrap;
     margin-left:100px;
     justify-content: flex-start;
}

.itemNewSound {
     width:200px;
     height: 200px;
     border-radius:10px;
     box-shadow: rgba(0, 0, 0, 0.027) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
     margin-top:40px;
     margin-right:20px;
     background-color: white;
}

.imageItemNewSound img{
     width:200px;
     height:200px;
     border-radius:50%;
     padding:20px;
}

.titleItemNewSound {
     text-align: center;
     margin-top:10px;
     font-size:15px;
     font-weight: 700;
     color:rgba(77, 77, 77, 0.877);
}


/****************************/
/**** Attribute Hot List ****/
/****************************/

.attributeHotList {
     padding-top:100px;
     color: rgba(31, 31, 31, 0.842);
     font-size:20px;
     margin:0 auto;
}

.listAttributeHot {
     width:50%;
     display:flex;
     flex-wrap:wrap;
     align-items: center;
     margin-top:40px;
     justify-content: flex-start;
     margin-left:100px;
}

.itemAttributeHot {
     width: 70px;
     height:70px;
     border:2px solid rgba(53, 53, 53, 0.712);
     border-radius:50%;
     margin-right:30px;
}

.itemAttributeHot img{
     width:70px;
     height:70px;
     border-radius:50%;
     padding-top:3px;
     padding-bottom:7px;
     padding-left:3px;
     padding-right:3px;
}

.nameAttribute {
     font-size:13px;
     font-weight:500;
     text-align: center;
}